# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [ ]:
DATA_FOLDER = '' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [155]:
# Write your answer here
import pandas as pd
import numpy as np
import glob

DATA_FOLDER = 'Data/ebola/'

## Guinea

### Check structures of the files

#### Headers

In [3]:
allFiles = glob.glob(DATA_FOLDER + 'guinea_data/*.csv')

def check_headers(files):
    list_ = []
    for file_ in files:
        df = pd.read_csv(file_, header=None)
        list_.append(df.head(n=1))

    frame = pd.concat(list_)
    # Transpose to not drop record and better visualisation
    return frame.drop_duplicates().T

check_headers(allFiles)

              0            0            0            0
0          Date         Date         Date         Date
1   Description  Description  Description  Description
2        Totals       Totals       Totals       Totals
3       Conakry      Conakry      Conakry      Conakry
4     Gueckedou    Gueckedou    Gueckedou    Gueckedou
5       Macenta      Macenta      Macenta      Macenta
6        Dabola       Dabola       Dabola       Dabola
7   Kissidougou  Kissidougou  Kissidougou  Kissidougou
8    Dinguiraye   Dinguiraye   Dinguiraye   Dinguiraye
9      Telimele     Telimele     Telimele     Telimele
10        Boffa        Boffa        Boffa        Boffa
11    Kouroussa    Kouroussa    Kouroussa    Kouroussa
12      Dubreka      Siguiri      Siguiri      Siguiri
13      Siguiri         Pita         Pita         Pita
14         Pita    Mzerekore    Nzerekore    Nzerekore
15    Nzerekore        Yomou        Yomou        Yomou
16          NaN      Dubreka      Dubreka      Dubreka
17          NaN   Forecariah   Forecariah   Forecariah
18          NaN     Kerouane     Kerouane     Kerouane
19          NaN        Coyah        Coyah        Coyah
20          NaN       Dalaba       Dalaba       Dalaba
21          NaN        Beyla        Beyla          NaN
22          NaN       Kindia       Kindia          NaN
23          NaN         Lola         Lola          NaN

#### Rows title

In [4]:
# Footers, check if the description are the same for each file
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_, usecols=['Description'])
    #print(file_, df.shape)
    list_.append(df)
    
frame = pd.concat(list_, axis=1)
cleaned = frame.T.drop_duplicates().T

first_column = set(cleaned[[0]].squeeze().tolist())
second_column = set(cleaned[[1]].squeeze().tolist())
print("sizes: {}".format(list(map(str, map(len, [first_column, second_column])))))
# Extra columns
second_column - first_column

# Let's discover which files doesn't follow the pattern
# Check if data is already the same in each file

sizes: ['42', '33']

{'Total number of admissions to CTE',
 nan,
 'Number of contacts out of the track 21 days',
 'Number of samples collected today',
 'New contacts registered so far',
 'Total samples tested',
 'Total suspected non-class cases',
 'Fatality rate for confirmed and probables',
 'Number of samples under test',
 'Total number of exits from CTE',
 'New cases of confirmed among health workers',
 'Total case of confirmed among health workers',
 'New deaths registered',
 'Number of contacts followed today',
 'Total number of hospitalized cases in CTE',
 'New admits to CTE so far',
 'New deaths registered among health workers',
 'Number of contacts lost to follow up',
 'Total deaths registered among health workers'}

**Headers:** Therefore, sometimes, region are missing, but the first three columns are always available: Date, Description and Totals. If we see some disrepancies between totals and the sum of all remaining columns, we are going to collect them.

**Rows:** "New deaths registered today" and "New deaths registered" will be considerer as the same data

#### Check date per file

In [5]:
def are_date_unique_per_file():
    for file_ in allFiles:
        df = pd.read_csv(file_, usecols=['Date'])
        #print(file_, df.shape)
        if df.drop_duplicates().shape[0] > 1:
            return False
    return True

are_date_unique_per_file()

True

### Get the data

Per file, we are going to compare the Totals colun and all region (if they sum up correctly) for the row: "New deaths registered today (confirmed)" or "New deaths registered" per file

In [6]:
# Write your answer here
import pandas as pd
import glob

DATA_FOLDER = 'Data/ebola/'

#Guinea
allFiles = glob.glob(DATA_FOLDER + 'guinea_data/*.csv')
frame = pd.DataFrame()

list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_, index_col=['Description', 'Date'], usecols=['Date', 'Description', 'Totals'])
    if "New deaths registered" in df.index:
        print(df.loc["New deaths registered among health workers"])

        df = df.loc["New deaths registered"]
    else:
        df = df.loc["New deaths registered today"]
    
    list_.append(df)
    
# New deaths registered among health workers always zero!
    
    

#df[["New deaths registered today (confirmed)"]]
#df.loc[df.Description == "New deaths registered today"]
frame = pd.concat(list_)
frame.columns = ["Deaths (via total)"]
frame 

#with pd.option_context('display.max_rows', None, 'display.max_columns', 3):
#frame.sort_index()
#frame.index[0]
#rame.index = frame.index.map(lambda x: ("-".join(x.split('-')[0:2])))
#rame.astype(int).groupby(['Date']).sum()/30

           Totals
Date
2014-08-26      0
           Totals
Date
2014-08-27      0
           Totals
Date
2014-08-30      0
           Totals
Date
2014-08-31      0
           Totals
Date
2014-09-02      0
           Totals
Date
2014-09-04      0
           Totals
Date
2014-09-07      0
           Totals
Date
2014-09-08      0
           Totals
Date
2014-09-09      0
           Totals
Date
2014-09-11      0
           Totals
Date
2014-09-14      0
           Totals
Date
2014-09-16      0
           Totals
Date
2014-09-17      0
           Totals
Date
2014-09-19      0
           Totals
Date
2014-09-21      0
           Totals
Date
2014-09-22      0
           Totals
Date
2014-09-23      0
           Totals
Date
2014-09-24      0
           Totals
Date
2014-09-26      0
           Totals
Date
2014-09-30      0
           Totals
Date
2014-10-01      0

           Deaths (via total)
Date
2014-08-04                  2
2014-08-26                  5
2014-08-27                  2
2014-08-30                  5
2014-08-31                  3
2014-09-02                  5
2014-09-04                  5
2014-09-07                  4
2014-09-08                  4
2014-09-09                  7
2014-09-11                  2
2014-09-14                  1
2014-09-16                  3
2014-09-17                  3
2014-09-19                  5
2014-09-21                  0
2014-09-22                  3
2014-09-23                  3
2014-09-24                  3
2014-09-26                  5
2014-09-30                  4
2014-10-01                 15

In [59]:
list_ = []
allFiles = glob.glob(DATA_FOLDER + 'guinea_data/*.csv')
#allFiles = ["Data/ebola/guinea_data/2014-09-22.csv"]

   
# column titles    
DEATHS = "Death"
DEATHS_MANUAL_SUM = "Death (manual sum)"
NEW_CASES = "New cases"
NEW_CASES_MANUAL_SUM = "New cases (manual sum)"
divisible_fields = [DEATHS, DEATHS_MANUAL_SUM, NEW_CASES, NEW_CASES_MANUAL_SUM]

for file_ in allFiles:
    df = pd.read_csv(file_, index_col=['Description', 'Date']).fillna(value=0)
    
    #print(df.dtypes)
    
    
    if "New deaths registered" in df.index:
        deaths = df.loc["New deaths registered"].copy()
    else:
        deaths = df.loc["New deaths registered today"].copy()
        
    new_cases = df.loc["New cases of confirmed"].copy()
    
    #print(new_cases)

    deaths_per_region = pd.to_numeric(deaths.drop("Totals", axis=1).values[0]).sum().astype(int)
    new_cases_per_region = pd.to_numeric(new_cases.drop("Totals", axis=1).values[0]).sum().astype(int)
 
    
    deaths[DEATHS_MANUAL_SUM] = deaths_per_region
    deaths[NEW_CASES] = int(new_cases["Totals"][0])
    deaths[NEW_CASES_MANUAL_SUM] = new_cases_per_region


    
    #deaths = deaths[["Totals", "Death"]]
    #deaths.columns = ["Deaths", "Deaths (manual sum)"]
    
    deaths = deaths[["Totals", DEATHS_MANUAL_SUM, NEW_CASES, NEW_CASES_MANUAL_SUM]]
    deaths.columns= [DEATHS, DEATHS_MANUAL_SUM, NEW_CASES, NEW_CASES_MANUAL_SUM]
    
    deaths[DEATHS] = deaths[DEATHS].astype(int)
    
    #print(deaths)
    
    list_.append(deaths)
    
    
frame = pd.concat(list_)
frame["Country"] = "Guinea"
frame["Date"] = pd.to_datetime(frame.index, format="%Y-%m-%d")
frame
frame.reset_index(drop=True)
frame.set_index(["Country", "Date"])

frame["Month+Year"] = frame["Date"].apply(lambda x: x.replace(day=1))
frame["daysInMonth"] = frame["Month+Year"].apply(lambda x: int(pd.tslib.monthrange(x.year, x.month)[1]))


#frame.groupby("Month+Year").sum() / frame["daysInMonth"]
frame[divisible_fields] = frame[divisible_fields].div(frame["daysInMonth"].values,axis=0)
frame = frame.drop(["Month+Year", "daysInMonth", "Date"], axis=1)
#frame[DEATHS].values
frame

,Death,Death (manual sum),New cases,New cases (manual sum),Country
Date,,,,,
2014-08-04,0.064516,0.064516,0.129032,0.129032,Guinea
2014-08-26,0.161290,0.161290,0.322581,0.322581,Guinea
2014-08-27,0.064516,0.064516,0.322581,0.322581,Guinea
2014-08-30,0.161290,0.129032,0.290323,0.290323,Guinea
2014-08-31,0.096774,0.096774,0.935484,0.935484,Guinea
2014-09-02,0.166667,0.166667,0.466667,0.333333,Guinea
2014-09-04,0.166667,0.166667,0.566667,0.566667,Guinea
2014-09-07,0.133333,0.133333,0.366667,0.266667,Guinea
2014-09-08,0.133333,0.133333,0.366667,0.366667,Guinea
2014-09-09,0.233333,0.233333,0.233333,0.233333,Guinea
2014-09-11,0.066667,0.066667,0.433333,0.433333,Guinea
2014-09-14,0.033333,0.033333,0.466667,0.466667,Guinea
2014-09-16,0.100000,0.100000,0.200000,0.200000,Guinea
2014-09-17,0.100000,0.100000,0.200000,0.200000,Guinea
2014-09-19,0.166667,0.166667,0.400000,0.400000,Guinea
2014-09-21,0.000000,0.000000,0.566667,0.566667,Guinea
2014-09-22,0.100000,0.100000,0.466667,0.466667,Guinea
2014-09-23,0.100000,0.100000,0.833333,0.833333,Guinea
2014-09-24,0.100000,0.100000,0.666667,0.666667,Guinea
2014-09-26,0.166667,0.166667,0.333333,0.333333,Guinea
2014-09-30,0.133333,0.133333,0.366667,0.366667,Guinea
2014-10-01,0.483871,0.483871,0.193548,0.193548,Guinea

## Liberia

### Check structures of the files

#### Headers

In [4]:
allFiles = glob.glob(DATA_FOLDER + 'liberia_data/*.csv')

check_headers(allFiles)

NameError: name 'check_headers' is not defined

We wanted to use first the "Newly reported deaths" column, but they were disrepedancies with the cumulated data, and the newly reported data did not indicate if it was confirmed, suspected, etc. For the "Total death/s in confirmed cases",  less than half of the files didn't contain the value for this field. So either we switch to no data or more data but overestimation. Then we decided to switch to cumulated "Total death/s in confirmed, probable, suspected cases".

In [128]:
import re

NEW_CASES = "New case/s (confirmed)"
TOTAL_NEW_CASES = "Total confirmed cases"
TOTAL_DEATH = "Total death/s in confirmed, probable, suspected cases"
NEWLY_REPORTED_DEATH = "Newly reported deaths"


# most of error are extra \n and spaces
#columns = list(map(lambda x: re.sub("\s\s+" , " ", x.replace("\n", "")), df.index.levels[0].values.tolist()))
def check_column_in_files(files, column_name):
    for file_ in allFiles:
        df = pd.read_csv(file_, index_col=['Variable', 'Date']).fillna(value=0)
        
        #df["edited_variable"] = df.index.levels[0].values
        #df["edited_variable"] = 
        new_values = list(map(lambda x: re.sub("\s\s+" , " ", x.replace("\n", "")), df.index.levels[0].values.tolist()))
        df.index = df.index.set_levels(levels=new_values, level=0)
        
        #print(df.index.levels[0])
        
        #result = False
        result = column_name in df.index
            
        
        
        if(column_name == TOTAL_DEATH):
            pass
            #print("{} {}".format(result, file_))
        if not result:
            if(column_name == TOTAL_DEATH):
                print(df.index.levels[0])
            return False
    
        
    return True


to_check = [NEW_CASES, TOTAL_DEATH, NEWLY_REPORTED_DEATH, TOTAL_NEW_CASES]
list(map(lambda x: check_column_in_files(allFiles, x), to_check))

[True, True, True, True]

So, the both lines are available in each file, however a quick check the files indicates that the cell may be empty.

Below, we found out that there is many NA values for the lasts months, only totals are available which mixes confirmed, probable and suspected cases. We have chosen along the way to consider only confirmed cases, so we are going to drop those data. First, let's check how many data we are going to drop.

Also, there is discrependencies between New deaths reported and cumulated data.

For the new cases, we also are going to use the cumulated data, except for the last file, were it seems that the cumulated data has moved to the new cases column. We patch manually this

In the `2014-10-04-v142.csv` file, there is two Total deaths line, we keep only the second one

In [256]:
allFiles = glob.glob(DATA_FOLDER + 'liberia_data/*.csv')

list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_, index_col=['Variable', 'Date'])
    
    # Normalize variable column
    new_values = list(map(lambda x: re.sub("\s\s+" , " ", x.replace("\n", "")), df.index.levels[0].values.tolist()))
    df.index = df.index.set_levels(levels=new_values, level=0)
    
    data = df[["National"]]

    
    total_deaths = data.loc[TOTAL_DEATH]
    new_cases = data.loc[NEW_CASES]
    total_cases = data.loc[TOTAL_NEW_CASES]
    
    concatenated = pd.concat([total_deaths.tail(n=1), new_cases, total_cases], axis=1)
    concatenated.columns = ["Total death", "New cases", "New cases (cumul.)"]
    
    
    
    list_.append(concatenated)
    
    
    
frame = pd.concat(list_)
#frame.index = pd.to_datetime(frame.index, format="%m/%d/%Y")

#frame.index = frame.index.set_levels([frame.index.levels[0], pd.to_datetime(frame.index.levels[1])])
#frame = frame.swaplevel()

# keep only NaN value.
death_null = frame[frame["Total death"].isnull()].shape[0]
death_total = frame.shape[0]

cases_null = frame[frame["New cases"].isnull()].shape[0]
cases_total = frame.shape[0]
print("NaN Death ratio {} % ({}/{})".format(death_null / death_total * 100, death_null, death_total))
print("NaN New Case ratio {} % ({}/{})".format(cases_null / cases_total * 100, cases_null, cases_total))

frame["New cases (cumul.)"]["12/9/2014"] = frame["New cases"]["12/9/2014"]
#frame["New cases (cumul.)"] = 

frame.index = pd.to_datetime(frame.index)

def remove_outliers(x,y):
    #print(x, y, x > y)
    if(x > y):
        return x
    return y

frame["corr"] = frame["New cases (cumul.)"].rolling(window=2).apply(lambda x: remove_outliers(x[0], x[1]))

frame["Month"] = frame.index.map(lambda x: x.month).astype(int)
frame["Day"] = frame.index.map(lambda x: x.day).astype(int)
frame.index = [frame["Month"], frame["Day"]]

#with pd.option_context('display.max_rows', None, 'display.max_columns', 5):
    #print(frame)
    
a = pd.concat(
    [frame.groupby(['Month'])['Day'].min().reset_index(),
    frame.groupby(['Month'])['Day'].max().reset_index()]
).sort_index()
result = pd.merge(a, frame, on=["Month", "Day"], how="left")

result.index = pd.to_datetime(result[['Month','Day']].apply(lambda x : '{}-{}-2011'.format(x[0],x[1]), axis=1))
result = result.drop(["Month", "Day"], axis=1)

result

NaN Death ratio 3.0 % (3/100)
NaN New Case ratio 15.0 % (15/100)

            Total death  New cases  New cases (cumul.)    corr
2011-06-16         16.0        1.0                12.0     NaN
2011-06-29         49.0        2.0                43.0    43.0
2011-07-01         61.0        2.0                48.0    48.0
2011-07-26        145.0        6.0                92.0    92.0
2011-08-02        257.0        0.0               132.0   132.0
2011-08-28        885.0       22.0               369.0   369.0
2011-09-01       1004.0       14.0               406.0   406.0
2011-09-30       2058.0        1.0               925.0   925.0
2011-10-01       2082.0        0.0               926.0   926.0
2011-10-31       2697.0        NaN                73.0  2437.0
2011-11-02       2700.0        NaN              2456.0  2456.0
2011-11-30       3157.0       10.0              2823.0  2823.0
2011-12-01       3161.0        1.0              2823.0  2823.0
2011-12-09       3290.0     2946.0              2946.0     NaN

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here